<!--<pre>{{pmcQuests | json}}</pre>-->
<p-card>
  <p-table [columns]="tableColumns"
           [value]="filteredUserQuests"
           dataKey="id">
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col-12 flex justify-content-end">
          <p-toggleButton [formControl]="tableFiltersForm.controls.showCompleted"
                          onIcon="pi pi-eye"
                          onLabel="Hide Completed"
                          offLabel="Show Completed"
                          offIcon="pi pi-eye-slash"
                          (click)="onToggleCompletedClick()"></p-toggleButton>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col"></th>
        <th scope="col"
            pSortableColumn="title">Title
          <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th scope="col"
            pSortableColumn="statusIcon.tooltip">Status
          <p-sortIcon field="statusIcon.tooltip"></p-sortIcon>
        </th>
        <th scope="col"
            pSortableColumn="giver">Giver
          <p-sortIcon field="giver"></p-sortIcon>
        </th>
        <th scope="col"
            pSortableColumn="location">Location
          <p-sortIcon field="location"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-columns="columns"
                 let-rowData
                 let-expanded="expanded"
                 let-row>
      <tr *ngIf="asQuestModel(rowData) as quest">
        <td>
          <button [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                  [pRowToggler]="row"
                  class="p-button-text p-button-rounded p-button-plain"
                  pButton
                  type="button"></button>
        </td>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="asQuestModelTableColumns(col) as column"
                        [ngSwitch]="column.field">
            <ng-container *ngSwitchDefault>
              {{quest[column.field]}}
            </ng-container>
            <ng-container *ngSwitchCase="'statusIcon'">
              <button pButton
                      type="button"
                      [icon]="quest.statusIcon.name"
                      [class]="quest.statusIcon.css"
                      [pTooltip]="quest.statusIcon.tooltip"></button>
            </ng-container>
            <ng-container *ngSwitchCase="'giver'">
              {{tradersNames[quest.giver]}}
            </ng-container>
            <ng-container *ngSwitchCase="'location'">
              {{locationNames[quest.location]}}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion"
                 let-data>
      <tr *ngIf="asQuestModel(data) as quest">
        <td colspan="5">
          <app-quest-row-detail [quest]="quest"></app-quest-row-detail>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

