<div class="card">
  <p-selectButton (onOptionClick)="onMapChange()"
                  [formControl]="selectedMapKey"
                  [options]="mapsSelectionOptions"></p-selectButton>
  <div class="grid mt-3">
    <div class="col-12">
      <app-svg-map [mapInfo]="selectedMap"></app-svg-map>
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12">
    <button (click)="resetSelection()">Reset selection</button>
  </div>
  <div *ngFor="let quest of questsToShow; let i = index"
       class="col-12 flex justify-content-start align-items-center quest-row p-3"
       style="border: 1px solid red">
    <div class="flex align-items-center justify-content-center mr-3">
      <button pButton
              (click)="onSelectionChange(quest, i)"
              type="button"
              [icon]="isVisible(quest) ? 'pi pi-eye' : 'pi pi-eye-slash'"
              class="p-button-rounded p-button-text"></button>
    </div>
    <div>
      <h4 class="mb-3">{{quest.title}}</h4>
      <p>{{quest.giver}}</p>
    </div>
  </div>
</div>
