<div *ngIf="userProfile as profile; else noProfile"
     class="grid p-3">
  <div class="col-12 flex justify-content-between align-items-center">
    <div class="flex justify-content-start align-items-center">
      <img alt=""
           class="mr-3"
           src="assets/images/levelsgroup/{{levelGroup}}.png">
      <div>
        <h1>{{profile.Info.Nickname}} </h1>
        <h3 class="font-italic">{{profile.Info.Level}}</h3>
        <span class="text-sm font-italic">"{{profile.SurvivorClass}}"</span>
      </div>
    </div>
    <div>
      <img src="assets/images/{{profile.Info.Side}}.png"
           alt=""
           style="width: 150px; height: 150px">
    </div>
  </div>
  <div class="col-12">
    <p-fieldset legend="Aki Info">
      <div class="grid mod-container">
        <div class="mb-3 col-12 flex">
          <h4 class="mr-2">Aki Version: </h4>
          <span class="font-italic">{{profile.akiInfo.version}}</span>
        </div>
        <div class="col-12">
          <h4>Installed Mods:</h4>
        </div>
        <ng-container *ngFor="let mod of profile.akiInfo.mods; let i = index">
          <div class="col-2 mr-2 mod-box">
            <div class="flex justify-content-start align-content-center mb-2">
              <strong class="mr-2">Name:</strong><span>{{mod.name}}</span>
            </div>
            <div class="flex justify-content-start align-content-center mb-2">
              <strong class="mr-2">Author:</strong><span>{{mod.author}}</span>
            </div>
            <div class="flex justify-content-start align-content-center mb-2">
              <strong class="mr-2">Version:</strong><span>{{mod.version}}</span>
            </div>
          </div>
          <p-divider layout="vertical"
                     *ngIf="i < profile.akiInfo.mods.length - 1"></p-divider>
        </ng-container>
      </div>
    </p-fieldset>
  </div>
</div>
<ng-template #noProfile>
  <div class="grid">
    <div class="mb-2 col-12">
      <h4 class="">Seems like you need to set the path of your profile. Insert the absolute path and then press
        save.</h4>
    </div>
    <div class="col-11">
      <input type="text"
             name=""
             id=""
             pInputText
             [(ngModel)]="path"
             class="w-full mr-2"
      >
    </div>
    <div class="col-1">
      <p-button label="Save path" (onClick)="saveProfilePath()"></p-button>
    </div>
  </div>
</ng-template>
