<p-tabView>
  <p-tabPanel header="Profile"
              leftIcon="pi pi-user">
    <app-profile (saveProfile)="onSaveProfile($event)"
                 [userProfile]="userProfile"
                 [levelGroup]="levelGroup"></app-profile>
  </p-tabPanel>
  <p-tabPanel leftIcon="pi pi-database"
              header="Quests"
              [disabled]="!userProfile">
    <ng-template pTemplate="content">
      <app-quests-table [userActiveQuests]="userActiveQuests"></app-quests-table>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel leftIcon="pi pi-map"
              header="Maps"
              [disabled]="!userProfile">
    <ng-template pTemplate="content">
      <app-maps></app-maps>
    </ng-template>
  </p-tabPanel>
</p-tabView>
